.App-header {
  background-color: #A2C08B;
  color: white;
}

h1 {
  margin-top: 0px;
  padding: 20px;
  color: black;
}

.logo{
  width: 100%;
}

input {
  margin-bottom: 4%;
  width: 40%;
}

button {
  background-color: #7fc79e;
  color: #ffffff;
  border-radius: 7px;
  margin-bottom: 4%;
}

#create-button {
  background-color: #ffffff;
  color: #7fc79e;
}
