.App {
  text-align: center;
}

.App-header {
  background-color: #a2c08b;
  align-items: center;
  justify-content: center;
  color: white;

}

h1 {
  margin-top: 0px;
  padding: 20px;
  color: black;
}

input {
  margin-bottom: 4%;
  width: 40%;
}

button {
  background-color: #7fc79e;
  color: #ffffff;
  border-radius: 7px;
  margin-bottom: 4%;
}

#create-button {
  background-color: #ffffff;
  color: #7fc79e;
}

