.App {
  text-align: center;
}

.App-header {
  background-color: #A2C08B;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin-top: 0px;
  padding: 20px;
  margin-bottom: 100px;
  color: black;
}

input{
margin-bottom: 4%;
width: 40%;
}

button{
  background-color: #7FC79E;
  color: #ffffff;
  border-radius: 7px;
  margin-bottom: 4%;
}

#create-button{
  background-color: #ffffff;
  color: #7FC79E;
}