.loginPage{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 100vw;
    min-height:100vh;
    background-color: #fdfbef;
    
}

.google-btn {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 42px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      background-color: white;
    }
    .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: black;
      font-size: 14px;
      letter-spacing: 0.2px;  
    }
  
  

input{
    margin: 5%;
    width: 70%;
}



/* .img{
    display: none;
    visibility: hidden;
} */

@media (min-height: 700px) {

}