.challangesContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fdfbef;
}

h1 {
  font-size: 21px;
}

hr {
  margin: 0;
}

.challangeBtn {
  display: flex;
  margin: 40px auto;
  width: 84%;
  border-radius: 10px;
  border-color: #7fc79e;
  background-color: #7fc79e;
  padding: 17px;
  font-family: "Lato", sans-serif;
  box-shadow: 5px 5px 18px #888888;
  font-size: 18px;
}

.challanges {
  font-family: "Lato", sans-serif;
}

.newchallenge {
  margin-bottom: 1px;
  margin-top: 5px;
}

.dialogBox {
  position: absolute;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #ade7ff;
  margin: 75% 20% auto;
  padding: 0 2%;
}

.approvalButtons {
  display: flex;
  justify-content: space-around;
}

.approvalButton {
  margin-bottom: 15px;
  background-color: #ade7ff;
  border-color: #ade7ff;
  padding: 8px 20px;
  text-decoration: solid;
}

.dialogHide {
  position: absolute;
  visibility: hidden;
}

#header {
  margin-top: 10px;
}