.create {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h1 {
  top: 0;
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

.subtext {
  font-size: 14px;
}

#question {
  border-color: #7fc79e;
  background-color: #7fc79e;
  width: 40%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  font-family: "Lato", sans-serif;
}

#question:hover {
  box-shadow: 0 0 10px gray;
}

.questions {
  display: flex;
  justify-content: space-around;
  padding: 7% 0 0 0;
}

.Next {
  background-color: white;
  border-color: #7fc79e;
  color: #7fc79e;
  width: 40%;
  height: 40px;
  border-radius: 20px;
  margin: 10%;
  font-family: "Lato", sans-serif;
}

.threeCircles {
  display: flex;
  position: absolute;
  left: 40%;
}

.progressCircle {
  height: 10px;
  width: 10px;
  margin: 10px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0px 2px 4px gray;
}

#current {
  background-color: #76cce7;
}