.circle{
    height: 250px;
    width: 250px;
    background-color:white;
    border-radius: 50%;
    border: 6px solid #A2C08B;
    display: flex;
    align-self: center;
    position:relative;
    margin-top: 20px;
}

.Dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textIn{
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.progressbar{
    width: 100%;
    padding:24px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 40px;
}
