.circle{
    height: 300px;
    width: 300px;
    background-color:white;
    border-radius: 50%;
    border: 6px solid #A2C08B;
    display: flex;
    align-self: center;
    margin: 30px;
}

.Dashboard{
    display: flex;
    align-self: center;
    flex-direction: column;
}

.text{
width: 100%;
display: flex;
align-self: center;
flex-direction: column;
}