.popoular {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  padding-bottom: 0px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #3f5c28;
  padding: 0px;
  margin: 0;
}

#ecostudentspicture {
  width: 100px;
  height: 100px;
  margin-top: 12px;
  margin-right: 15px;
  padding-left: 10px;
  float: left;
}

.ArticleComponent {
  display: flex;
  margin: 5px 30px 30px 30px;
  /*border: 2px solid #ADE7FF;*/
  padding-bottom: 10px;
  box-shadow: 5px 5px 18px #888888;
  border-radius: 20px;
  background-color: white;
}

h3 {
  margin-top: 35px;
  margin-left: 25px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

a {
  color: black;
}

/*.textblog{
      margin-top: 10px;
      margin-left: 15px;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
  }*/

.article {
  margin-left: 10px;
  margin-right: 10px;
}

#backbutton {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
