.NavBar {
  background-color: #a2c08b;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.icon {
  width: 30px;
  height: 30px;
}

.iconRow {
  display: flex;
}

.icons {
  margin: auto;
}

.iconText {
  display: flex;
}

.iconName {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  color: white;
  margin: auto;
}

#dashboard {
}

#explore {
}

#challenge {
}

#profile {
}

#settings {
}
