#progresscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}


.progress-bar {
    width: 350px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid rgb(129, 128, 128);
    margin-top: 5px;
}

.range {
    background: #ADE7FF;
    height: 100%;
    border-radius: inherit;
    transition: width .3s ease-in;
}


.toggle-buttons button:hover {
    color: white;
    background: #666;
}


#updatepic{
    margin-left: 20px;
    margin-top: 0px;
}