.progress-bar {
    width: 350px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid rgb(129, 128, 128);
    margin-top: 5px;
}

.filler{
    background: #ADE7FF;
    height: 100%;
    border-radius: inherit;
    transition: width .3s ease-in;
}