.App {
  text-align: center;
}

.NavBar {
  background-color: #a2c08b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
}

img {
  height: 70%;
}