body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
}

p {
  box-sizing: border-box;
  padding: 0px;
}
.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.Diet {
  width: 100%;
  left: 20px;
  top: 105px;

  padding-left: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

/*DIET*/
.diet-label {
  display: block;
  padding-left: 30px;
}

/*the box styling*/
.diet-label:before {
  content: "\2714";
  border: 0.1em solid #c4c4c4;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  margin-bottom: 1em;
  color: transparent;
  transition: 0.2s;
}

.diet-option:checked + .diet-label:before {
  color: #eeb4c0;
  background-color: #eeb4c0;
  border-color: #eeb4c0;
  /*content: color;*/
}

.diet-option {
  position: absolute;
  margin-left: -1000px;
}

/*TRANSPORT*/
.transport-label {
  display: block;
  padding-left: 30px;
}

/*the box styling*/
.transport-label:before {
  content: "\2714";
  border: 0.1em solid #c4c4c4;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  margin-bottom: 1em;
  color: transparent;
  transition: 0.2s;
}

.transport-option:checked + .transport-label:before {
  color: #eeb4c0;
  background-color: #eeb4c0;
  border-color: #eeb4c0;
  /*content: color;*/
}

.transport-option {
  position: absolute;
  margin-left: -1000px;
}


/*RECYCLE*/
.recycle-label {
  display: block;
  padding-left: 30px;
}

/*the box styling*/
.recycle-label:before {
  content: "\2714";
  border: 0.1em solid #c4c4c4;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  margin-bottom: 1em;
  color: transparent;
  transition: 0.2s;
}

.recycle-option:checked + .recycle-label:before {
  color: #eeb4c0;
  background-color: #eeb4c0;
  border-color: #eeb4c0;
  /*content: color;*/
}

.recycle-option {
  position: absolute;
  margin-left: -1000px;
}

.Transport {
  margin-top: 40px;
  width: 100%;
  left: 20px;
  top: 363px;
  padding-left: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

.Recycle {
  margin-top: 40px;
  width: 100%;
  left: 20px;
  top: 363px;
  padding-left: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

.logoutbtn{

width: 150px;
height: 50px;
background: #7FC79E;
border-radius: 20px;
}
