.settings {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

p{
  box-sizing: border-box;
}

/*DIET*/
.diet-label {
  display: block;
  padding-left: 30px;
}

.Diet {
  width: 100%;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

/*the box styling*/
.diet-label:before {
  content: "\2714";
  border: 0.1em solid #c4c4c4;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  margin-bottom: 1em;
  color: transparent;
  transition: 0.2s;
}

.diet-option:checked + .diet-label:before {
  background-color: #eeb4c0;
  border-color: #eeb4c0;
}

.diet-option {
  position: absolute;
  margin-left: -1000px;
}

/*TRANSPORT*/
.transport-label {
  display: block;
  padding-left: 30px;
}

/*the box styling*/
.transport-label:before {
  content: "\2714";
  border: 0.1em solid #c4c4c4;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  margin-bottom: 1em;
  color: transparent;
  transition: 0.2s;
}

.transport-option:checked + .transport-label:before {
  background-color: #eeb4c0;
  border-color: #eeb4c0;
}

.transport-option {
  position: absolute;
  margin-left: -1000px;
}

.Transport {
  margin-top: 40px;
  width: 100%;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

/*RECYCLE*/
.recycle-label {
  display: block;
  padding-left: 30px;
}

/*the box styling*/
.recycle-label:before {
  content: "\2714";
  border: 0.1em solid #c4c4c4;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  margin-bottom: 1em;
  color: transparent;
  transition: 0.2s;
}

.recycle-option:checked + .recycle-label:before {
  background-color: #eeb4c0;
  border-color: #eeb4c0;
}

.recycle-option {
  position: absolute;
  margin-left: -1000px;
}

.Recycle {
  margin-top: 40px;
  width: 100%;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.logoutbtn{
height: 40px;
background: #7FC79E;
border-color: #7FC79E;
border-radius: 20px;
font-size: 14px;
width: 25%;
margin-left: 20px;
}